@import url('../Fonts/stylesheet.css');
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'CSChatThai';
 }
a {
  text-decoration: none;
  color: #EDEDED;
}
h1 p {
  font-size: 0;
  font-weight: normal;
}
select, option, button { outline: none; }
/*static*/
.pos-center {
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
.shadow-menu {
 box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
 -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
 -ms-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
 -o-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}
.shadow-wrap {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.tst-outquint {
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
.left { float: left; }
.right { float: right; }

/********************menu********************/
.sidenav {
  display: block;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2477bf;
  overflow-x: hidden;
}
.input-search {
  outline: none;
  width: 180px;
  height: 15px;
  margin: 20px 0px 0px 20px;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #2477bf;
  font-family: 'CSChatThai';
  font-size: 21px;
  float: left;
}
.input-search:hover, .input-search:focus { border: 1px solid #397373; }
.btn-search {
  width: 38px;
  height: 35px;
  margin: 21px 0px 0px 222px;
  background: #397373;
  border-radius: 0px 10px 10px 0px;
}
.btn-search .sprite-magnifying-glass {
  transform: scale(.4);
  position: absolute;
  top: 82px;
  left: 215px;
}
.sidenav .sprite-cross {
  transform: scale(.4);
  float: right;
  margin-top: -60px;
}
.sidenav a {
  font-size: 28px;
  padding: 20px 0px 0px 20px;
  display: block;
}
.active-menu-hbg { text-decoration: underline; }
.sidenav a:hover, .sidenav a:focus {
  margin-left: 10px;
}
.line-menu-hbg {
  width: calc(100% - 40px);
  height: 1px;
  background: white;
  margin: auto;
  margin-top: 20px;
}
.wrap-img-progile {
  width: 150px;
  height: 40px;
  margin: -10px 0px 0px 0px;
}
.wrap-img-progile img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  float: left;
}
.wrap-img-progile h1 {
  font-size: 24px;
  font-weight: normal;
  color: white;
  padding: 5px 0px 0px 50px;
}
.logout {
  width: 75px;
  height: 20px;
  float: right;
  margin: -65px 20px 0px 0px;
}
.logout h1 {
  font-size: 18px;
  font-weight: normal;
}
.menu-hbg {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2477bf;
}
.menu-main { display: none; }
.sprite-menu {
  transform: scale(.6);
  cursor: pointer;
}
.txt-menu-hbg {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: -45px;
  font-weight: normal;
}
.sprite-magnifying-glass {
  transform: scale(.5);
  cursor: pointer;
  float: right;
  margin-top: -68px;
}

/********************page********************/
.wrap-top {
  width: auto;
  height: 30px;
  margin-top: -6px;
}
.txt-top {
  font-size: 21px;
  font-weight: normal;
  padding-left: 10px;
}
.line-nav {
  width: calc(100% - 20px);
  height: 1px;
  background-color: black;
  opacity: .3;
  margin: auto;
  margin-top: -15px;
}
.card {
  width: 355px;
  height: auto;
  margin: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
  background: #e6e6e6;
  float: left;
}
.wrap-top-card {
  width: auto;
  height: auto;
  margin-top: -28px;
}
.wrap-top-card img {
  width: 65px;
  height: 65px;
  margin: 10px 0px 0px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  float: left;
}
.wrap-txt-top-card {
  width: 200px;
  height: 100px;
  margin: 0px 0px 0px 90px;
}
.txt-topic {
  font-size: 28px;
  font-weight: bold;
}
.txt-time {
  font-size: 24px;
  font-weight: normal;
  margin-top: -35px;
}
.txt-type {
  font-size: 18px;
  margin-top: -30px;
  opacity: .5;
}
.line-top-card {
  width: calc(100% - 20px);
  height: 1px;
  background-color: black;
  opacity: .3;
  margin: auto;
  margin-top: -10px;
}
.box-txt-tag {
  height: 30px;
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 1px solid #2477bf;
  margin: 10px 0px 0px 10px;
  float: left;
}
.box-txt-tag h1 {
  font-size: 21px;
  font-weight: normal;
  color: #2477bf;
  padding: 0px 10px 0px 10px;
  margin-top: 2px;
}
.box-sh-detail {
  width: 335px;
  height: 32px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.box-sh-detail h1 {
  font-size: 21px;
  font-weight: normal;
  padding: 3px 0px 0px 10px;
  margin-top: 0;
}
.box-sh-detail .sprite-chevron-down {
  transform: scale(.4);
  float: none;
  margin: -58px 0px 0px 280px;
}
.box-sh-detail .sprite-chevron-up {
  transform: scale(.4);
  float: none;
  margin: -58px 0px 0px 280px;
}
.box-detail {
  width: 335px;
  height: 0;
  background-color: white;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  overflow-x: hidden;
  display: block;
  z-index: 1;
}
.line-detail {
  width: 320px;
  height: 1px;
  background: black;
  margin: auto;
  margin-top: 5px;
  opacity: .3;
}
.wrap-txt-h1-detail {
  width: 120px;
  height: auto;
  float: left;
}
.wrap-txt-h1-detail h1 {
  font-size: 24px;
  font-weight: normal;
  color: #2477bf;
  margin: 10px 0px 0px 10px;
  opacity: .8;
  float: none;
}
.wrap-txt-h2-detail {
  width: 180px;
  height: auto;
  float: left;
}
.wrap-txt-h2-detail h1 {
  font-size: 24px;
  font-weight: normal;
  color: #2477bf;
  margin: 10px 0px 0px 10px;
  float: none;
}
.btn-eat {
  width: 180px;
  height: 50px;
  background-color: #397373;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #397373;
  cursor: pointer;
}
.btn-eat h1 {
  font-size: 24px;
  color: white;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}
.bottom-wrap-card {
  width: auto;
  height: 10px;
}
.btn-eat:hover, .btn-eat:focus {
  border: 1px solid #2477bf;
  background-color: #e6e6e6;
}
.btn-eat h1:hover, .btn-eat h1:focus { color: #2477bf; }

@media only screen and (min-width: 768px) {
  /********************menu********************/
  .menu-hbg { display: none; }
  .menu-main {
    display: block;
    width: auto;
    height: auto;
  }
  .menu-top {
    width: 100%;
    height: 50px;
    background-color: #2477bf;
  }

  .img-logo {
    width: auto;
    height: 30px;
    margin: 10px 0px 0px 10px;
  }
  .link-profile {
    width: 150px;
    height: 50px;
    float: right;
  }
  .link-profile:hover {
    background-color: #92bbdf;
  }
  .img-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: right;
    margin: 5px 10px 0px 0px;
  }
  .link-profile h1 {
    font-size: 21px;
    float: right;
    font-weight: normal;
    margin: 13px 10px 0px 0px;
  }
  .menu-link {
    width: 100%;
    height: 30px;
    background-color: #92bbdf;
  }
  .wrap-link {
    width: auto;
    height: 30px;
    float: left;
    margin: 0px 20px 0px 10px;
  }
  .wrap-link a {
    font-size: 24px;
    color: black;
  }
  .active-menu-main {
    font-weight: bold;
  }
  .line-link {
    display: none;
    width: auto;
    height: 3px;
    background-color: #2477bf;
    margin-top: -4px;
  }
  .box-search {
    width: 20%;
    height: 30px;
    float: right;
    margin: -30px 10px 0px 0px;
  }
  .search-menu-main {
    outline: none;
    width: calc(100% - 52px);
    height: 22px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #92bbdf;
    padding: 3px 10px;
    font-family: 'CSChatThai';
    font-size: 18px;
  }
  .search-menu-main:hover, .search-menu-main:focus {
    border: 1px solid # 397373;
  }
  .btn-search-menu-main {
    width: 30px;
    height: 30px;
    float: right;
    background: #397373;
    margin-top: -30px;
    border-radius: 0px 10px 10px 0px;
  }
  .btn-search-menu-main .sprite-magnifying-glass {
    transform: scale(.3);
    margin: -10px -10px 0px 0px;
  }

  /********************page********************/
}
